body {
    color: #000000;
    background-color: #ffffff;
}
:link {
    color: #0000ff;
}
:visited {
    color: #8000c0;
}

.ignored {
    color: #666666;
}
.ignored > :link {
    color: #6666ff;
}
.ignored > :visited {
    color: #b366d9;
}

.good {
    background-color: #40ff40;
}
.bad {
    background-color: #ff4040;
}

table {
    border-collapse: collapse;
}
tr {
    border-top: solid 1px;
    border-bottom: solid 1px;
}
th {
    text-align: right;
    vertical-align: top;
    white-space: nowrap;
}
th, td {
    padding-left: 0.5em;
    padding-right: 0.5em;
}
